.nav {
  width: 100%;
  background: rgb(75, 195, 34);
  background: linear-gradient(
    151deg,
    rgba(75, 195, 34, 0.7456232492997199) 0%,
    rgba(192, 52, 52, 0.9837184873949579) 56%
  );
  padding: 10px 20px;
  display: flex;
  box-sizing: border-box;
}
.navitem {
  width: calc(100% - 150px);
  display: flex;
  justify-content: end;
  list-style: none;
}
.logo {
  width: 150px;
  display: flex;
  align-items: center;
}
.logo p {
  font-size: 20px;
  font-weight: 1000;
  color: white;
}
.logo img {
  border-radius: 8px;
  width: 50px;
  height: 50px;
}
.navitems {
  padding: 0px 20px;
}
.navitem a {
  text-decoration: none;
  color: white;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.box {
  position: relative;
}
/* .form_container {
  width: 400px;
  height: fit-content;
  background-image: linear-gradient(to right, #33001b, #ff0084);
  position: absolute;
  border-radius: 10px;
} */
.form_container {
  width: 400px;
  height: max-content;
  border-radius: 10px;
  background-image: linear-gradient(to right, #33001b, #ff0084);
}
.icon_container {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(244, 241, 241);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  z-index: 1;
  left: 150px;
  top: -60px;
}
.icon {
  width: 80px;
  height: 80px;
  color: rgb(17, 0, 0);
}

.form {
  padding: 40px 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form_main {
  display: flex;
  flex-direction: column;
}
.input {
  margin: 10px 0px;
  border-radius: 5px;
  height: 30px;
}
.button {
  text-align: center;
  margin-top: 20px;
}
.button button {
  height: 50px;
  width: 200px;
  font-size: 22px;
  background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
  border-radius: 8px;
  color: rgb(230, 12, 12);
}
.link_text {
  padding: 0px 0px 30px 30px;
  display: flex;
  align-items: center;
}
.link_text p {
  color: white;
}
.link_text a {
  padding: 0px 5px;
  color: white;
}
.label {
  color: white;
  font-size: 20px;
}
.form_icon {
  color: white;
  padding-right: 5px;
  vertical-align: middle;
}
.error {
  color: white;
}
@media screen and (max-width: 400px) {
  .nav {
    padding: 7px 10px;
  }
  .logo {
    vertical-align: middle;
  }
  .logo p {
    font-size: 12px;
    font-weight: 1000;
    color: white;
  }
  .form_container {
    width: 300px;
    height: max-content;
    border-radius: 10px;
    background-image: linear-gradient(to right, #33001b, #ff0084);
  }
  .icon_container {
    left: 100px;
    width: 60px;
    height: 60px;
    top: -40px;
  }
  .label,
  .error,
  .link_text a,
  .link_text p {
    font-size: 12px;
  }
  .button button {
    width: 100px;
    height: 30px;
    font-size: 13px;
  }
  .form {
    padding: 20px 30px 0px 30px;
  }
  .input {
    height: 25px;
  }
}

.logout {
  cursor: pointer;
}

.todo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.todo_input_box {
  text-align: center;
  background-color: #f8b500;
  width: 600px;
  height: 150px;
  padding: 30px 50px;
}
.todo_input_box input {
  height: 20px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.todo_input_box button {
  padding: 4px;
  width: 100px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  background-color: #835dca;
}
.table {
  background-color: #f7f6f9;
  width: 700px;
  margin-top: 20px;
}
.table tr {
  text-align: center;
}
.table th,
.table td {
  padding: 10px;
}
.table_data {
  width: 700px;
}
@media screen and (max-width: 400px) {
  .table {
    width: 360px;
    border-collapse: collapse;
  }
  .table th,
  .table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
